In [156]:
import numpy as np
import pandas as pd

In [157]:
df = pd.read_csv("penguins.csv")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [158]:
df.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [159]:
df.dropna(inplace=True)
df = df.reset_index(level=None, drop=True)
df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [160]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [161]:
print(df[df['sex']=='.'].index)

Int64Index([327], dtype='int64')

In [162]:
df = df.drop([df.index[327]]).reset_index(drop=True)

In [163]:
df = pd.get_dummies(df, columns= ['island', 'sex', 'species'], drop_first=True, prefix=["i","","s"])
df.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,i_Dream,i_Torgersen,_MALE,s_Chinstrap,s_Gentoo
0,39.1,18.7,181.0,3750.0,0,1,1,0,0
1,39.5,17.4,186.0,3800.0,0,1,0,0,0
2,40.3,18.0,195.0,3250.0,0,1,0,0,0
3,36.7,19.3,193.0,3450.0,0,1,0,0,0
4,39.3,20.6,190.0,3650.0,0,1,1,0,0

In [164]:
df = df.rename(columns = {"_MALE":"gender"})

In [165]:
from sklearn.preprocessing import normalize

normcols = ['culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g']

df[normcols] = pd.DataFrame(normalize(df[normcols]))

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,i_Dream,i_Torgersen,gender,s_Chinstrap,s_Gentoo
0,0.010414,0.004981,0.048207,0.998771,0,1,1,0,0
1,0.010382,0.004573,0.048886,0.998740,0,1,0,0,0
2,0.012377,0.005528,0.059887,0.998113,0,1,0,0,0
3,0.010620,0.005585,0.055851,0.998367,0,1,0,0,0
4,0.010752,0.005636,0.051981,0.998574,0,1,1,0,0
5,0.010717,0.004904,0.049865,0.998686,0,1,0,0,0
6,0.008377,0.004189,0.041673,0.999087,0,1,1,0,0
7,0.012822,0.005491,0.056778,0.998289,0,1,0,0,0
8,0.010144,0.005572,0.050196,0.998672,0,1,1,0,0
9,0.007855,0.004790,0.044953,0.998947,0,1,1,0,0
10,0.009879,0.004805,0.049935,0.998692,0,1,0,0,0
11,0.011199,0.005498,0.056427,0.998329,0,1,0,0,0
12,0.009435,0.004595,0.043733,0.998988,0,1,1,0,0
13,0.010329,0.005525,0.055250,0.998404,0,1,0,0,0
14,0.010940,0.005113,0.046138,0.998862,0,1,1,0,0
15,0.011102,0.005375,0.051106,0.998617,0,0,0,0,0
16,0.010458,0.005188,0.049934,0.998684,0,0,1,0,0
17,0.009435,0.005046,0.049673,0.998708,0,0,0,0,0
18,0.009660,0.004577,0.046781,0.998848,0,0,1,0,0
19,0.010198,0.004521,0.047312,0.998818,0,0,1,0,0
20,0.009278,0.004967,0.049148,0.998736,0,0,0,0,0
21,0.011421,0.005232,0.051477,0.998595,0,0,1,0,0
22,0.012633,0.005584,0.058332,0.998202,0,0,0,0,0
23,0.012013,0.005895,0.054517,0.998423,0,0,0,0,0
24,0.010242,0.004780,0.045519,0.998900,0,0,1,0,0
25,0.012135,0.005130,0.054683,0.998417,1,0,0,0,0
26,0.009528,0.004636,0.045591,0.998904,1,0,1,0,0
27,0.011949,0.005385,0.056873,0.998295,1,0,0,0,0
28,0.010475,0.004840,0.047124,0.998822,1,0,1,0,0
29,0.010928,0.005104,0.058542,0.998212,1,0,0,0,0
30,0.009435,0.005078,0.047174,0.998829,1,0,1,0,0
31,0.009811,0.005057,0.048043,0.998784,1,0,1,0,0
32,0.011871,0.005204,0.050635,0.998633,1,0,0,0,0
33,0.011376,0.005839,0.054762,0.998418,1,0,0,0,0
34,0.008552,0.004104,0.039537,0.999173,1,0,1,0,0
35,0.011567,0.005704,0.057677,0.998252,1,0,0,0,0
36,0.010448,0.004712,0.049934,0.998687,1,0,1,0,0
37,0.011591,0.005957,0.059887,0.998120,1,0,0,0,0
38,0.010012,0.004473,0.044499,0.998949,1,0,1,0,0
39,0.012309,0.005622,0.061544,0.998013,1,0,0,0,0
40,0.008601,0.004083,0.041267,0.999103,1,0,1,0,0
41,0.011982,0.005539,0.053059,0.998504,1,0,1,0,0
42,0.010418,0.005180,0.054985,0.998419,1,0,0,0,0
43,0.010181,0.005103,0.045972,0.998878,1,0,1,0,0
44,0.011297,0.005050,0.053064,0.998514,0,0,0,0,0
45,0.009316,0.004391,0.043677,0.998993,0,0,1,0,0
46,0.010129,0.005180,0.054986,0.998422,0,0,0,0,0
47,0.010357,0.004809,0.049319,0.998718,0,0,1,0,0
48,0.011871,0.006228,0.064343,0.997838,0,0,0,0,0
49,0.011173,0.005020,0.051549,0.998595,0,0,1,0,0

In [168]:
df.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,i_Dream,i_Torgersen,gender,s_Chinstrap,s_Gentoo
0,0.010414,0.004981,0.048207,0.998771,0,1,1,0,0
1,0.010382,0.004573,0.048886,0.998740,0,1,0,0,0
2,0.012377,0.005528,0.059887,0.998113,0,1,0,0,0
3,0.010620,0.005585,0.055851,0.998367,0,1,0,0,0
4,0.010752,0.005636,0.051981,0.998574,0,1,1,0,0

In [167]:
df.to_csv("penguins_preprocessed.csv", index=False)